<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Crear Producto</title>
    <link rel="stylesheet" href="/src/styles/style.css" />
    <link rel="icon" href="/src/img/icons8-búsqueda.svg" type="image/x-icon" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"
    />
    <script src="https://cdn.tailwindcss.com"></script>
    <style></style>
  </head>
  <body class="flex flex-col min-h-screen">
    <!-- Header -->
    <header class="bg-gray-100 shadow-md">
      <div
        class="max-w-7xl px-4 py-2 mx-auto flex items-center justify-between"
      >
        <!-- Logo + Search -->
        <div class="flex items-center gap-4">
          <a href="/" aria-label="Ir a la página principal de Loopi">
            <img src="/src/img/LOGO.png" alt="Loopi Logo" class="w-32 h-auto" />
          </a>
          <div class="relative">
            <span
              class="absolute inset-y-0 left-0 pl-3 flex items-center pointer-events-none"
            >
              <img
                src="/src/img/icons8-búsqueda.svg"
                alt="Buscar"
                class="w-5 h-5"
              />
            </span>
            <input
              type="text"
              placeholder="Buscar productos..."
              class="pl-10 pr-4 py-2 w-96 rounded-md border border-gray-300 focus:outline-none focus:ring-2 focus:ring-blue-500"
            />
          </div>
        </div>

        <!-- Botón Vender -->
        <a href="/src/views/form.html">
          <button
            type="button"
            class="px-6 py-3.5 text-base font-medium text-white inline-flex items-center bg-[#1f70db] hover:bg-[#2f80ed] focus:ring-4 focus:outline-none focus:ring-blue-300 rounded-lg"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="w-6 h-6 mr-2"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M21 12H3m18 0v6a2.25 2.25 0 0 1-2.25 2.25H5.25A2.25 2.25 0 0 1 3 18v-6m18 0V9M3 12V9m18-3a2.25 2.25 0 0 0-2.25-2.25H5.25A2.25 2.25 0 0 0 3 6v3"
              />
            </svg>
            VENDER
          </button>
        </a>
      </div>

      <!-- Segunda barra de navegación -->
      <nav class="bg-[#003c85] text-white">
        <div class="px-4 py-2 flex justify-between items-center">
          <!-- Menú hamburguesa -->
          <button id="menu-toggle" class="lg:hidden">
            <svg
              class="w-6 h-6"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              viewBox="0 0 24 24"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M4 6h16M4 12h16M4 18h16"
              />
            </svg>
          </button>

          <!-- Menú enlaces -->
          <div id="menu" class="hidden lg:flex space-x-6">
            <a href="#" id="abrir-categorias">Todas las categorías</a>
            <a href="/src/components/categorias.html?categoria=mobiles"
              >Móviles</a
            >
            <a href="/src/components/categorias.html?categoria=tablets"
              >Tablets</a
            >
            <a href="/src/components/categorias.html?categoria=laptops"
              >Laptops</a
            >
          </div>

          <!-- Icono carrito -->
          <!-- <a href="#" class="text-2xl">
            <i class="fa-solid fa-cart-shopping"></i>
          </a> -->
        </div>
      </nav>
    </header>
    <!-- Header -->
    <!-- Formulario -->
    <main class="flex-grow">
      <form
        class="max-w-2xl mx-auto p-6 bg-white dark:bg-gray-800 rounded-lg shadow-md space-y-6"
        id="product-form"
      >
        <!-- Título -->
        <div class="relative z-0 w-full group">
          <input
            type="text"
            name="title"
            id="title"
            placeholder=" "
            required
            class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
          />
          <label
            for="title"
            class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-placeholder-shown:translate-y-0 peer-placeholder-shown:scale-100 peer-focus:scale-75 peer-focus:-translate-y-6"
            >Título</label
          >
        </div>

        <!-- Categoría -->
        <div>
          <label
            for="category"
            class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
            >Categoría</label
          >
          <select
            id="category"
            name="category"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:text-white"
          >
            <option>Smartphone</option>
            <option>Laptops</option>
            <option>Smartwatch</option>
            <option>Monitor</option>
          </select>
        </div>

        <!-- Precio -->
        <div class="relative z-0 w-full group">
          <input
            type="number"
            name="price"
            id="price"
            placeholder=" "
            required
            class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
          />
          <label
            for="price"
            class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-placeholder-shown:translate-y-0 peer-placeholder-shown:scale-100 peer-focus:scale-75 peer-focus:-translate-y-6"
            >Precio</label
          >
        </div>

        <!-- Imagen -->
        <div>
          <label
            for="image"
            class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
            >Subir imagen</label
          >
          <input
            id="image"
            type="file"
            name="image"
            class="block w-full text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600"
          />
          <p class="mt-1 text-sm text-gray-500 dark:text-gray-300">
            Una imagen del producto ayuda a los compradores.
          </p>
        </div>

        <!-- Condición -->
        <div class="relative z-0 w-full group">
          <input
            type="text"
            name="condition"
            id="condition"
            placeholder=" "
            required
            class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
          />
          <label
            for="condition"
            class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-placeholder-shown:translate-y-0 peer-placeholder-shown:scale-100 peer-focus:scale-75 peer-focus:-translate-y-6"
            >Condición</label
          >
        </div>

        <!-- Año -->
        <div class="relative z-0 w-full group">
          <input
            type="number"
            name="year"
            id="year"
            placeholder=" "
            required
            class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
          />
          <label
            for="year"
            class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-placeholder-shown:translate-y-0 peer-placeholder-shown:scale-100 peer-focus:scale-75 peer-focus:-translate-y-6"
            >Año</label
          >
        </div>

        <!-- Descripción -->
        <div>
          <label
            for="description"
            class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
            >Descripción</label
          >
          <textarea
            id="description"
            name="description"
            rows="4"
            required
            class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:text-white dark:border-gray-600"
          ></textarea>
        </div>

        <!-- Botón -->
        <button
          type="submit"
          class="w-full text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
        >
          Enviar
        </button>
      </form>
    </main>
    <!-- Formulario -->
    <!-- Footer -->
    <footer class="bg-[#003c85] text-white text-sm">
      <div
        class="w-full max-w-7xl mx-auto px-4 py-6 flex flex-col md:flex-row md:justify-between md:items-center gap-4"
      >
        <!-- Logo -->
        <a
          href="/"
          class="flex items-center flex-shrink-0"
          aria-label="Ir a la página principal de Loopi"
        >
          <img src="../img/LOGO.png" class="w-40 h-auto" alt="Loopi Logo" />
        </a>

        <!-- Navegación del footer -->
        <nav
          aria-label="Footer Navigation"
          class="grid grid-cols-2 gap-4 sm:grid-cols-3 lg:grid-cols-4 text-xs font-medium text-gray-200"
        >
          <div>
            <h2 class="mb-1 text-xs font-semibold uppercase text-white">
              Recursos
            </h2>
            <ul class="space-y-0.5">
              <li>
                <a
                  href="https://developer.mozilla.org/es/docs/Web/JavaScript/"
                  class="hover:underline hover:text-blue-400"
                  >JavaScript</a
                >
              </li>
              <li>
                <a
                  href="https://tailwindcss.com/"
                  class="hover:underline hover:text-blue-400"
                  >Tailwind CSS</a
                >
              </li>
              <li>
                <a
                  href="https://www.npmjs.com/package/json-server"
                  class="hover:underline hover:text-blue-400"
                  >Json-Server</a
                >
              </li>
            </ul>
          </div>

          <div>
            <h2 class="mb-1 text-xs font-semibold uppercase text-white">
              Empresa
            </h2>
            <ul class="space-y-0.5">
              <li>
                <a
                  href="../components/footer_quienes-somos.html"
                  target="_blank"
                  class="hover:underline hover:text-blue-400"
                  >Quiénes somos</a
                >
              </li>
              <li>
                <a
                  href="../components/footer_trabaja-con-nosotros.html"
                  target="_blank"
                  class="hover:underline hover:text-blue-400"
                  >Trabaja con nosotros</a
                >
              </li>
            </ul>
          </div>

          <div>
            <h2 class="mb-1 text-xs font-semibold uppercase text-white">
              Soporte
            </h2>
            <ul class="space-y-0.5">
              <li>
                <a
                  href="https://mail.google.com/mail/?view=cm&fs=1&to=loopi@support.com"
                  target="_blank"
                  class="hover:underline hover:text-blue-400"
                >
                  Contacto
                </a>
              </li>
              <li>
                <a
                  href="https://github.com/jemb4/loopi"
                  target="_blank"
                  class="hover:underline hover:text-blue-400"
                  >GitHub</a
                >
              </li>
            </ul>
          </div>

          <div>
            <h2 class="mb-1 text-xs font-semibold uppercase text-white">
              Legal
            </h2>
            <ul class="space-y-0.5">
              <li>
                <a
                  href="footer_politica-privacidad.html"
                  target="_blank"
                  class="hover:underline hover:text-blue-400"
                  >Política de privacidad</a
                >
              </li>
              <li>
                <a
                  href="footer_terminos-condiciones.html"
                  target="_blank"
                  class="hover:underline hover:text-blue-400"
                  >Términos y condiciones</a
                >
              </li>
            </ul>
          </div>
        </nav>
      </div>

      <hr class="border-gray-200 opacity-20" />

      <div
        class="flex flex-col sm:flex-row sm:justify-center sm:items-center text-center text-gray-200 text-xs py-2"
      >
        <span
          >© <span id="year">2024</span>
          <a href="/" class="hover:underline">Loopi™</a>. Todos los derechos
          reservados.</span
        >
      </div>
    </footer>
    <!-- Footer -->
    <!-- Scripts -->
    <script type="module" src="../controllers/formController.js"></script>
    <script src="/src/utils/hamburguer-btn.js"></script>
    <!-- Scripts -->
  </body>
</html>
