<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Loopi header</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <header class="bg-gray-100 shadow-md">
    <div class="container mx-auto px-4 py-2 flex items-center justify-between">
        <div class="flex items-center">
            <img src="/src/img/LOGO.png" alt="Loopi Logo" class="w-32 h-auto me-3">
            <input type="text" placeholder="Busca iPhone" class="ml-4 px-4 py-2 rounded-md border border-gray-300 focus:outline-none focus:ring-2 focus:ring-blue-500">
        </div>
        <div>
            <button class="bg-blue-500 text-white px-4 py-2 rounded-md mr-2">VENDER</button>
        </div>
    </div>
</header>
</body>
</html>

